
*{
 padding: 0; 
 margin: 0;
}

html,body,footer{
  width: 100%;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

#nav{
  overflow: auto;
  box-shadow: 5px 5px 10px #888;
}

#nav nav{
  background-color: #000;
  padding: 20px 50px;
  text-align: right;
}

nav a{
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

nav a:hover{
   background-color: #2a7886;
}

.desc .hello{
  text-align: center;
  padding: 5%;
  margin: 0 auto;
}

.hello img{
  margin: 0 auto;
  width: 30%;
  padding-top: 100px;
}

.hello-p{
  text-size: 2.2em;
  text-align: center;
  line-height: 2em;
  margin-top: -50px;
  font-family: 'Microsoft YaHei','sans-serif';
  color: #fff;
  font-weight: 500;
}

.desc{
  background-color: WhiteSmoke;
  background-image:url(image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.arrow-img{
  margin: 0 48%;
  margin-top: -50px;
}

.arrow-img img{
  width: 70px;
  height: 70px;
}

.arrow-img img:first-child{
  animation: arrow 2s infinite;
}

@keyframes arrow{
  0%{
    margin-top: 60px;
  }
  50%{
    margin-top: 110px;
  }
  100%{
    margin-top: 150px;
  }
}

#introduction{
  background-color: #b1b493;
  padding: 0px;
  margin: 0px;
  height: 1900px;
}


.intro-self{
  text-align: center;
  font-family:'Microsoft YaHei','sans-serif';
  font-size: 3em;
  color: #000;
  padding-top: 80px;
}

.content{
  width: 80%;
  margin: 0 auto;
}

table tr td{
  padding: 5%;
}

.table-img{
  background-color: #79bac1;
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(50,50,50,0.8);
  padding: 5%;
  text-align: center;
}

.table-img img{
  border-radius: 30px;
  width: 98%;
}

.box{
  background-color: WhiteSmoke;
  border-radius: 30px;
  padding: 11% 5%;
}

.box span{
  line-height: 2em;
  font-size: 1em;
}

.my-logo img{
border-radius: 50%;
border: 3px solid #abc2e8;
width: 13%;
margin:  0 5%;
}

.my-logo img:hover{
  border-color: #efee9d;
}

.my-contact{
  text-align: center;
  background-color: WhiteSmoke;
  margin-top: 0px;
  height: 350px;
}

#contact p{
   text-align: center;
    font-size: 3em;
    color: #000;
    padding-top:50px;
}

.contacts{
  margin-bottom: 50px;
  margin-top: 50px;
}

.my-contact ul{
  display: inline;
}

.my-contact li{
  display: inline;
  padding: 40px;
}

.my-contact img{
  width: 30px;
}

.my-contact a{
  text-decoration: none;
  color: #000;
  font-family: 'Comic Sans MS',Tahoma,Verdana;
  font-size: 2em;
}

.my-contact a:hover{
  opacity: 0.8;
  border-bottom: 3px solid #ffcb74;
}

.toTop{
  background-color: #888;
  width: 3%;
  height: 80px;
  margin-top: 2%;
  margin-left: 90%;
}

.toTop img{
  width: 3%;
}

footer{
  padding: 0px;
    height: 25px;
    color: #fff;
    background-color: #000;
    text-align: right;
    margin-bottom: 0px;
}
